.menu-wrapper {    
    .menu {
        transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
        opacity: 0;
        transform: translateX(-100px);
        width: 100px;
        height: 100vh;
        background-color: pink;

        &.open {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    .overlay {
        transition: opacity 400ms ease-in-out;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.15);

        &.show {
            opacity: 1;
            pointer-events: auto;
        }
    }
}