@import "source/_mixins.scss";
@import "source/_variables.scss";

.modal {
	@include transition(opacity 400ms ease-out);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	display: table;

	pointer-events: none;
	opacity: 0;

	.overlay {
		@include absolute-fill();
		@include transition(opacity 400ms)
		background-color: black;
		pointer-events: none;
		opacity: 0;
		z-index: 1;
	}

	&.open {
		opacity: 1;
		pointer-events: auto;

		.overlay {
			opacity: 0.2;
			pointer-events: auto;
		}
	}

	.modal-inner {
		display: table-cell;
		vertical-align: middle;

		.modal-content-area {
			@include box-shadow(0px 3px 5px 0px, rgba(0, 0, 0, 0.15));
			@include box-sizing(border-box);
			text-align: left;
			position: relative;
			overflow-x: hidden;
			z-index: 2;
			display: inline-block;
			background-color: white;
			padding: 45px;
			border-radius: 5px;
		}


		.modal-header {
			text-align: left;
			padding-bottom: 30px;
			border-bottom: 1px solid transparentize($dark-blue-6, 0.6);
		}

		.modal-content {
			margin-top: 30px;
		}

		.modal-footer {
			height: 80px;
			position: absolute;
			width: 100%;
			left: -45px;
			bottom: 0;
			text-align: right;
			display: table;

			> div {
				display: table-cell;
				vertical-align: middle;

				.button-wrapper + .button-wrapper {
					margin-left: 15px;
				}
			}
		}
	}
}