@import "source/_mixins.scss";
@import "source/_variables.scss";

.event-list {
	padding: 0;
	margin: 45px 0;

	.event-list-item {
		@include box-shadow(0px 3px 5px 0px, rgba(0, 0, 0, 0.15));
		@include box-sizing(border-box);
		position: relative;
		width: 95%;
		margin: -2px auto;
		border-radius: 2px;
		padding: 15px;

		.mark-star {
			@include transition(color 400ms ease-out);
			position: absolute;
			z-index: 50;
			right: 15px;
			bottom: 15px;

			&:hover, &.active {
				color: #fff900;
			}
		}

		& + .event-list-item {
			margin-top: 15px;
		}

		.color-layer, .white-layer {
			@include absolute-fill();
			z-index: 1;
			background-repeat: no-repeat;
			background-position: top left;
		}

		.color-layer {
			opacity: 0.4;
		}

		.white-layer {
			opacity: 0.4;
			background-color: white;
		}

		.data {
			position: relative;
			z-index: 2;


			.title {
				font-family: 'Oswald', sans-serif;
				font-weight: bold;
			}

			.description {
				@include line-clamp(3);
				margin-top: 5px;

				&.big {
					font-size: 18px;
				}

				&.medium {
					font-size: 16px;
				}

				&.small {
					font-size: 14px;
				}
			}

			.info {
				margin-top: 15px;
				.content {
					@include vertical-align(middle);
					@include text-overflow(ellipsis);
					display: inline-block;
					margin-left: 15px;
					width: 80%;
					font-size: 13px;
				}

				li + li {
					margin-top: 5px;
				}
			}
		}
	}
}






















