@import '_variables.scss';
@import '_mixins.scss';

.side-menu {
	float: left;
	width: 340px !important;
	height: 100vh !important;
	background-color: $lightColor;

	.mobile {
		display: none;
		height: 60px;
		background-color: $darkColor;
		position: relative;
		z-index: 50;

		.menu-icon {
			float: right;
			width: 30px;
			height: 30px;
			position: relative;
			cursor: pointer;
			top: 15px;
			right: 15px;

			.line, .line:before, .line:after {
				height: 2px;
				background-color: white;
				width: 20px;
				margin: auto;
				position: relative;
				display: block;
			}

			.line {
				top: 15px;

				&:before {
					content: "";
					top: -6.5px;
				}

				&:after {
					content: "";
					top: 3.5px;
				}
			}
		}

		.logo {
			border: 0px;
			margin: 0px;
			float: left;
			position: relative;
			top: 15px;
			left: 15px;

			.logo-image {
				background-image: url(./img/logo-mobile.png);
				width: 83px;
				height: 21px;
				margin-top: 5px;
			}
		}
	}

	.logo {
		text-align: center;
   		margin: 30px auto;
		border-bottom: 1px solid transparentize($mediumColor, 0.8);

		.logo-image {
			background-image: url(./img/logo.png);
			background-repeat: no-repeat;
			display: inline-block;
			margin: auto;
			width: 216px;
			height: 90px;
		}
	}

	.sections {
		margin-left: 30px;
		margin-bottom: 45px;
		.side-menu-section {
			width: 90%;

			h4 {
				font-size: 15px;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin-bottom: 10px;
				color: $darkColor;
				font-weight: 600;
			}
	
			ul {
				list-style-type: none;
				margin-top: 10px;
				padding-left: 20px;

				li {
					a {
						@include transition(color 400ms ease-out, opacity 400ms ease-out);
						color: $darkColor;
						text-decoration: none;
						font-size: 14px;
						line-height: 25px;
						letter-spacing: 0.4px;
						opacity: 0.5;
						
						&:hover, &.active {
							color: $mediumColor;
							font-weight: 600;
							opacity: 1;
						}
					}
				}
			}
	
			& + .side-menu-section {
				margin-top: 20px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		width: 100% !important;
		overflow: hidden;

		&:not(.show) {
			height: 60px !important;
		}

		.mobile {
			display: block;
		}

		> :not(.mobile) {
			.logo {
				display: none;
			}
		}

		.sections {
			padding-bottom: 20px;
		}
	}
}