@import './_mixins.scss';
@import './_variables.scss';
//@import './fonts/icons/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,600|Roboto:300,400,500,700');

body {
	background-image: url("./imgs/fundo-login.jpg");
	font-family: 'Roboto', sans-serif;

	a {
		text-decoration: none;
	}

	.new-event-button {
		@include transition(background-color 400ms ease-out);
		position: fixed;
		bottom: 45px;
		right: 45px;
		background-color: $green-5;
		width: 65px;
		height: 65px;
		border-radius: 100%;
		display: table;
		text-align: center;
		z-index: 5;
		color: white;

		> div {
			display: table-cell;
			vertical-align: middle;
		}

		&:hover {
			background-color: darken($green-5, 15%);
			cursor: pointer;
		}
	}
}